html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f7fa93;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

header {
  /* width: 100vw; */
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  background-color: #ffffffbe;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 20px 1px #c7c1c1;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* logo of univ*/
.logo {
  width: 80px;
  height: 60px;
}

/* university name*/
.h-1 {
  color: black;
  margin-block: 10px;
}

#studentName,
#studentID {
  font-weight: bold;
  color: #103e6e;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* gap: 20px; */
  /* margin-top: 20px; */
}

.container>nav {
  position: fixed;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: #f5f7fa93;
  padding: 10px;
  box-shadow: 2px 2px 20px 1px #c7c1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 1;
}

.container>nav h1 {
  color: #007bff;
  margin-block: 10px;
  text-align: center;
}

.container>nav a {
  text-decoration: none;
  color: #103e6e;
  font-weight: bold;
  font-size: medium;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #f5f7fa93;
  transition: .3s;
}

.container>nav a:hover {
  background-color: #06468b;
  color: white;
}

.container>div {
  position: fixed;
  width: 15%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1;
  right: 0;
}

.container>div aside {
  width: 80%;
  background-color: #f5f7fa93;
  padding: 16px;
  box-shadow: 2px 2px 20px 1px #c7c1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
}

.container>div aside h1 {
  color: #007bff;
  margin-block: 20px;
  text-align: center;
}

.container>div aside p {
  text-align: center;
  margin-block: 5px 16px;
  line-height: 1.5;
  font-weight: bold;
}

.container>main {
  width: 60%;
}

.container>main>h1 {
  color: #007bff;
  margin-block: 20px;
  text-align: center;
}

.student-info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.student-info p {
  color: #aaa;
}

.container #questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.container #questions article {
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 1px 1px 10px 1px #9c9898;
}

.container #questions article .h-question {
  display: flex;
  gap: 20px;
  align-items: center;
}

article>.h-question em {
  font-weight: bold;
  font-size: small;
  color: #777;
}

.container #questions article h3 {
  color: #007bff;
  margin-block: 10px;
  margin-left: 20px;
}

.container #questions article p {
  text-align: center;
  margin-block: 5px 16px;
}

article ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

article input {
  margin-inline: 10px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-block: 20px;
}

#back,
#submit {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #06468b;
  color: white;
  border: none;
  font-weight: bold;
  font-size: medium;
  transition: .3s;
  cursor: pointer;
  text-decoration: none;
}

#back {
  display: none;
}

#back:hover,
#submit:hover {
  background-color: rgb(32, 32, 194);
}