body{
    padding: 0px;
    margin: 0px;
    background-color: #f5f7fa;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 2px 2px 20px 1px rgb(199, 193, 193);
    flex-wrap: wrap;
  }
  .photo-1 {
    width: 100px;
    height: 80px;
    
  }
  .h-1 {
    color: blueviolet;
    
  }
  .section_second{
    background-color: #ffffff;
    
    width:400px;
    height: 100%;
    /*border: 2px solid red;*/
    padding: 25px; 
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 30px;
    box-shadow: 1px 1px 10px 5px rgb(228, 227, 227);
    border-radius: 30px;
    
  }
  article > div{
    width:auto;
    height: auto;
    border: 1px solid rgba(197, 197, 197, 0.671);
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 20px;
  
  }
  article > div:hover{
    border: 1px solid #007bff;
  }
  main{
   /* border:2px solid #007bff;*/
   height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 40px;
  }
  input{
    width: 15px;
  }
  .nmber_question{
    color: blueviolet;
    font-size: 25px;
  }
  .d-q{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(65, 65, 65, 0.849);
  }
.ques_tion{
    font-size: 18px;
    color: #2c3e50;
}
.button-envoyer{
width: 400px;
background: #007bff;
border: none;
padding: 20px;
border-radius: 20px;
cursor: pointer;
color: aliceblue;
/*margin-bottom: 20px;*/

}
.button-envoyer:hover{
    color: #000000;
}
.nav{

    width: 450px;
    height: 100vh;
  /*  border:2px solid #007bff;*/
}
.section_t{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.nav > div{
    width: 400px;
    position: relative;
    top: 25px;
   /* border: 2px solid red;*/
}
.nav {
   /* background: #f5f7fa;*/
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
  }
  .exam-guide {
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 5px rgb(228, 227, 227);
    background-color: #ffffff
  }
  
  .exam-guide h1 {
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  .exam-guide p {
    margin: 10px 0;
    padding: 5px 0;
  }
  
  .exam-guide strong {
    color: #2980b9;
  }

 .mess-d {
    color: #c0392b;
    background: #fdebd0;
}
/**/
.foot {
    position: relative;
    top: 80px;
    padding-top:35px ;
    padding-bottom:35px ;
    background-color: rgba(88, 199, 250, 0.76);
    width: 100%;
   display: flex;
   justify-content: space-around;

}