body{
    padding: 0px;
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 2px 2px 20px 1px rgb(199, 193, 193);
    flex-wrap: wrap;
  }
  .photo-1 {
    width: 100px;
    height: 80px;
  }
  .h-1 {
    color: blueviolet;   
  }